header h1 {
    position: fixed;
    top: 0;
    width: 100%;
    height:40px;
    color: white;
    background-color: black;
    text-align: center;
    font-size: 25px;
}
.footer p {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 25px;
}

.in{
    
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: right;
    margin: 90px 400px;
    font-size:1vw;
    
}


.in input {
   
    border: 2.5px solid rgb(155, 198, 204);  
    text-align: left;
    width: 85%;
    height: 50px;   
}

.d2 .label1{
    float: left;
}

.label1 {
    float: left;
} 

.in textarea{
    border: 2.5px solid rgb(164, 219, 228);
    width: 85%;
    height: 130px;

   
}

.in #subb{
    background-color:rgb(32, 32, 78);
    font-size: 20px;
    width: 100px;
    height: 50px;
    color: white;
    padding: 6px 9px;
    text-align: center;
    margin:0 40%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 15% 12% 15% 12%

}
@media screen and (max-width: 800px) {
    .in {
        width: 0%;
        
    }
}